.a{
    margin: 10px;
    padding: 0px;    
    box-sizing: border-box;
    width: 80%;
}
.nav-bar-login {
font-size: large;
padding: 1%;
}
.fondo{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    width: 100%;
}
.logo{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    width: 20%;
}
body{
    
    font-family:sans-serif;
    background-image: linear-gradient(to right top, #9b9b9b, #656666, #494949, #222324, #050505);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 3em;
    color: white;
}
.img{
    width:60% ;
}
div.nav-bar-login{
    background-color: rgb(36 35 35);
}
a{
    color: rgb(255, 255, 255);
    font-size: large;
    font-family: sans-serif;
    padding: 3px;
}
h2{
    text-align: center;
    font-size: small;
    font-weight: normal;
}
/* HEADER */

.fa-globe {
    color: white;
    padding:5px;
}
.fa-user{
    color: white;
    padding:5px;
}
.fa-cart-shopping{
    color: white; 
    padding: 5px;
}

.nav-bar-login{
    font-style: oblique;
    text-decoration: none;    
}

.enlaces{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: baseline;
}
.footer-nav{
    display: flex;
   
    justify-content: center;
    padding-right: 5px;
    font-style: oblique;
    text-decoration: none;
    padding:10px;

}
/*main{
    width: 90%;
    margin: 0 auto;
}*/
/* IMAGEN LOGO*/
.imgLogo{
    
    width: 20%;
    height: 20%;
   
}
.center {
    width: 90%;
    height: 90%;   
    display: flex;
}
/* LOGIN */


footer {
    background-color: transparent;
    position: absolute;
    bottom: 3em;
    width: 100%;
    height: 40px;
    padding: auto;
  }

li{
    display: flex;
    padding: auto;
    text-align: left;
}
/* PRODUCT DETAIL */
.imagen-producto{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
}
 .box {
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
}
      
.box image{
    width: 80%;
}

@media(min-width: 460px){
    /* Smartphone */
}

@media(min-width: 460px){
    /* Smartphone */
   
}