<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>  
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <form action="login.ejs" method="POST" class="form-box animate fadeInUp">
            <h1 class="form-title">Sign In</h1>
            <input type="text" name="user" placeholder="User">
            <input type="password" name="pass" placeholder="password">
            <button type = "submit">
                login
             </button>
             <button type = "submit">
                Register
             </button>
         </form>
    </main>
      
    
    <footer>
    <%-include('./partials/footer') %> 
    </footer>
</body>
</html>