<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar producto</title>
   <%# <link rel='stylesheet' href='/css/style.css' /> #%>
   <%- include('./partials/head') %>  

</head>

<body>
    <%- include('./partials/navBar') %>  
    <h1>Crear producto</h1>
    <form action="/products/create" method="POST" > <%#revisar  enctype="multipart/form-data" #%>
    <div>
    <label for="">Nombre</label>
    <input type="text" name="name1">
    </div>
    <div>
        <label for="">Descripcion</label>
        <input type="text" name="description">
    </div>
    <div>
        <label for="">price</label>
        <input type="text" name="price">
    </div>
<%# agregar imagen %> 

    <label for="colors">Colores </label>
    <select name="colors">
    <% for (let i=0; i< colors.length; i++){ %>
    <option value="<%=colors[i].id%>">
     <%=colors[i].name%>
    </option>
    <%}%>
    </select>
    <br>
    <p> <button class="botonCrear" type="submit">Crear</button>
 
    <a  class="botonVolver" href="/products">Productos</a></p>
    </form>
</body>
</html>
