<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>  
</head>
<body>
    
    <%- include('./partials/navBar') %>  
    <main>
       
    </main>
    <footer>
        <%- include('./partials/footer') %>  
    </footer>
    
    
</body>
</html>