<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/css/style.css' /> 
    <%- include('./partials/head') %>  
</head>
<body>
    
    <%- include('./partials/navBar') %>  
    <main>
        <figure class="fondo">
            <img src="/img/fondo.png" alt="fondo">
          </figure>  
    </main>
    <footer>
        <%- include('./partials/footer') %>  
    </footer>
    
    
</body>
</html>