<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>  
</head>
<body>
    
    <%- include('./partials/navBar') %>  
    <main>
        <figure class="logo">
            <img src="/img/logo.png" alt="Logo">
          </figure> 
    </main>
    <h1> Listado de productos</h1>

<ul>
    <% for (let i=0; i < peliculas.lenght; i++){%>
    <li>
        <a href="/productos/<% products[i].id %>"></a>
        <%products[i].name%>
    </li>
    <%}>
</ul>

    <footer>
        <%- include('./partials/footer') %>  
    </footer>
    
    
</body>
</html>