<!DOCTYPE html>
<html lang="en">
<head>
   
    <%- include('./partials/head') %>  
  
</head>
<body>
    <%- include('./partials/navBar') %>  
   
        <main>
            <form action="login.ejs" method="POST" class="form-box animate fadeInUp">
                <h1 class="form-title">Sign In</h1>
                <input type="text" name="user" placeholder="User">
                <input type="password" name="pass" placeholder="password">
                <button type = "submit">
                    login
                 </button>
                 
             </form>
        </main>
      
    
</body>
</html>






