<div class="box">
    <div>
        <h2>Siguenos en nuestras redes sociales</h2>
    </div>
    
    <div class="footer-nav">
       
        <nav>
            <ul class="enlaces">
                <li><a href=""></a><i class="fa-brands fa-facebook"></i></li>
                <li><a href=""></a><i class="fa-brands fa-instagram-square"></i></li>
            </ul>
    
        </nav>
      
        
    </div>
    <div>
        <h2><a href="../contacto.ejs"></a>Contacto</h2>
    </div>

</div>

