<header>
     
    
                
        <nav >
            <div class="nav-bar-login">
            <figure class="nav-bar-login">
            <img src="/img/logo.png" alt="logo">
            </figure>
            <ul class="enlaces" >
                <li><a href="/products">Productos</a> </li>
                <li><a href="/users/register">Register<i class="fa-solid fa-user"></i></a></li>
                <li><a href="/users/login">Login<i class="fa-solid fa-user"></i></a></li>
                <li><a href="/shopping/2">Basket<i class="fa-solid fa-cart-shopping"> </i> </a> </li>

            </ul>
        </nav>
    </div>

</header>